@using TestingService.WebApplication.Security

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Online Testing Service</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
</head>
<body>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
<table class="table-general">
    <tr>
        <td class="width-percent20 text-center"><img class="width-percent100" src="/Content/comp.gif"></td>
        <td class="text-center">
            <h3>Online Testing Service</h3>
        </td>
    </tr>
</table>
<table class="table-general">
    <tr>
        <td class="width-percent20 text-top text-center">
            <h4>Welcome, @(string.IsNullOrEmpty(SessionPersister.Username) ? "Guest" : SessionPersister.Username)!</h4>
            @if (string.IsNullOrEmpty(SessionPersister.Username))
            {
                <p>@Html.ActionLink("Login", "Login", "Account")</p>
            }
            else
            {
                <p>@Html.ActionLink("Account", "Index", "Account")</p>
                <p>@Html.ActionLink("Logout", "Logout", "Account")</p>
                <p>@Html.ActionLink("Tests", "Index", "TestsManager")</p>
                <p>@Html.ActionLink("Create new test", "NewTest", "TestsManager")</p>
                <p>@Html.ActionLink("Test results", "TestResults", "TestInformer")</p>
            }
            <p>@Html.ActionLink("Home", "Index", "Home")</p>
            <p>@Html.ActionLink("Search", "Index", "Search")</p>
        </td>
        <td class="text-top">@RenderBody()</td>
    </tr>
</table>
@*  @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>	