@model TestingService.WebApplication.Models.QuestionViewModel
@{
    ViewBag.Title = "New question";
}
<h2>New question</h2>

@using (Html.BeginForm("NewQuestion", "TestsManager", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TestId)
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.QuestionNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.QuestionNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Radiobutton, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.QuestionType, 2)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Checkbox, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.QuestionType, 1)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Textbox, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.QuestionType, 3)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.QuestionCount, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.QuestionCount, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>
}