@model TestingService.WebApplication.Models.AccountViewModel

@{
    ViewBag.Title = "User profile";

}
<h4><b>Login:</b> @Model.Login</h4>
<h4><b>Email:</b> @Model.Email</h4>
<h4><b>First name:</b> @Model.FirstName</h4>
<h4><b>Second name:</b> @Model.SecondName</h4>
<h4><b>Third name:</b> @Model.ThirdName</h4>

