@model TestingService.WebApplication.Models.AccountViewModel

@{
    ViewBag.Title = "User profile";

}
<h4>Login: @Model.Login</h4>
<h4>Email: @Model.Email</h4>
<h4>First name: @Model.FirstName</h4>
<h4>Second name: @Model.SecondName</h4>
<h4>Third name: @Model.ThirdName</h4>

